<div class="form-group">
  <%= simple_form_for(@user_role, method: :post, url: admin_department_add_coordinator_event_path) do |f| %>
    <label class="form-label">Adicionar Coordenador de Eventos</label>
    <div class="row gutters-xs">
      <div class="col-5">
        <%= f.association :user,
                          collection: @coordinators,
                          class: 'form-control custom-select',
                          label: false %>
      </div>
      <span class="col-auto">
        <%= button_tag(type: 'submit', class: 'btn btn-primary',
                       'data-toggle': "tooltip", 'data-placement': "bottom",
                       'title': "Adicionar Coordenador de Eventos") do %>
    <i class="fe fe-user-plus"></i>
  <% end %>
      </span>
    </div>
  <% end %>
</div>
