<div class="form-group">
  <%= simple_form_for(@user_role, method: :post, url: admin_department_add_member_path) do |f| %>

    <label class="form-label">Adicionar Usuários</label>
    <div class="row gutters-xs">
        <div class="col-lg-5">
          <%= f.association :user,
                            class: 'form-control custom-select',
                            label: false %>
        </div>
        <div class="col-lg-5">
          <%= f.association :role,
                            class: 'form-control custom-select',
                            label: false %>
        </div>
      <span class="col-auto">
      <%= button_tag(type: 'submit', class: 'btn btn-primary',
                     'data-toggle': "tooltip", 'data-placement': "bottom", 'title': "Adicionar Chefe de Departamento") do %>
        <i class="fe fe-user-plus"></i>
        <% end %>
      </span>
    </div>
  <% end %>
</div>