<% provide(:page_title, 'Adicionar membros ao departamento') %>
<div class="row">
  <div class="col-12">
    <%= render 'admin/department_users/managers' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <% @members.each do |member| %>
      <div class="col tag mt-1">
    <span class="col-6">
      <%= member.name %>
    </span>
        <% if member.is_manager? %>
          <span class="col-5 tag-addon tag-danger">Chefe de Departamento</span>
        <% else %>
          <% if member.is_coordinator? %>
            <span class="col-5 tag-addon tag-success">Coordenador de Eventos</span>
          <% end %>
        <% end %>
        <%= link_to admin_department_destroy_member_path(@department, member), method: :delete, class: 'col-1 tag-addon' do %>
          <i class="fe fe-x"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
